@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the background stays dark even while loading */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #c3d5ff; 
}